@model List<FormSystem.Models.AnsInfo>
@{
    ViewBag.Title = "AnsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div.Plot-placeholder {
        width: 550px;
        height: 450px;
    }
</style>
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.pie.js"></script>
<script type="text/javascript">
    var isPlot = false;
    $(function () {
        $('#nav-plot-tab').click(function () {
            // check is aleady plot
            if (!isPlot) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("PlotData")',
                    success: function (result) {
                        var qBody = Object.keys(result);
                        var canvasHtml = '<p> </p>';

                        // create canvas
                        for (let i = 0; i < qBody.length; i++) {
                            var id = 'canvas' + i;
                            canvasHtml += `
                                <p>${qBody[i]}</p>
                                <div id="${id}" class="Plot-placeholder"></div>`;
                        }
                        canvasHtml += '<hr />';

                        $('#nav-plot').append(canvasHtml);

                        // draw on canvas
                        for (var i = 0; i < qBody.length; i++) {
                            var id = 'canvas' + i;
                            $.plot(`#${id}`, result[qBody[i]], {
                                series: {
                                    pie: {
                                        show: true,
                                        radius: 3 / 4,
                                        label: {
                                            show: true,
                                            radius: 3 / 4,
                                            formatter: function (label, series) {
                                                return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                            },
                                            background: {
                                                opacity: 0.5,
                                                color: '#000'
                                            }
                                        }
                                    }
                                },
                                grid: {
                                    hoverable: true,
                                    clickable: true
                                }
                            });
                        }

                        // set is plot
                        isPlot = true;
                    }
                });
            }
        });
    });
</script>

<h1>後台 - 統計</h1>
<hr />
@if (this.Model.Count() > 0)
{
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true">回答清單</button>
            <button class="nav-link" id="nav-plot-tab" data-bs-toggle="tab" data-bs-target="#nav-plot" type="button" role="tab" aria-controls="nav-plot" aria-selected="false">分析圖表</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">建立日期</th>
                        <th scope="col">名稱</th>
                        <th scope="col">詳細資料</th>
                    </tr>
                </thead>
                <tbody id="ListTBody">
                    @for (int i = 0; i < this.Model.Count(); i++)
                    {
                        int index = i + 1;
                        <tr>
                            <th>@index </th>
                            <td>@this.Model[i].CreateDate</td>
                            <td>@this.Model[i].AnsHead</td>
                            <td>@Html.ActionLink("前往", "HistoryAns", "Home", new { fid = this.Model[i].FormID, dataID = this.Model[i].DataID }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-plot" role="tabpanel" aria-labelledby="nav-plot-tab">
            <!--圖表放這裡-->
        </div>
    </div>
}
else
{
    <p>此表單尚無資料</p>
}
<input type="button" class="btn btn-outline-secondary" name="redirect" value="回上頁" onclick="javascript:window.history.back(-1);return false;" />

