@model FormSystem.Models.CreateFormModel
@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Title-->
<div class="headTitle">
    <h1>後台 - 編輯</h1>
</div>
<hr />
<!--Edit Area-->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-Form" type="button" role="tab" aria-controls="nav-home" aria-selected="true">問卷</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-Questions" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">問題</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-Data" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">填寫資料</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-Analysis" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">統計</button>
    </div>
</nav>
<!--Page Start Here-->
<div class="tab-content" id="nav-tabContent">
    <!--問卷-->
    <div class="tab-pane fade show active" id="nav-Form" role="tabpanel" aria-labelledby="nav-home-tab">
        <p><!--排版用--></p>
        @{Html.RenderPartial("../PartialView/_InfoPartial", this.Model.mInfo);}
    </div>
    <!--問題-->
    <div class="tab-pane fade" id="nav-Questions" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p><!--排版用--></p>
        @{Html.RenderPartial("../PartialView/_LayoutPartial", this.Model.mLayout);}
        <hr />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col">問題</th>
                    <th scope="col" class="col-2">種類</th>
                    <th scope="col" class="col-1">必填</th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody id="qTable">
                <!--問題列表-->
                @Html.Partial("../PartialView/_LayoutTable")
            </tbody>
        </table>
    </div>
    <!--資料-->
    <div class="tab-pane fade" id="nav-Data" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p></p>
        <button class="btn btn-primary">匯出</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col">名稱</th>
                    <th scope="col" class="col-2">建立時間</th>
                    <th scope="col" class="col-1">觀看細節</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!--統計-->
    <div class="tab-pane fade" id="nav-Analysis" role="tabpanel" aria-labelledby="nav-contact-tab">

    </div>
</div>
