
@{
    ViewBag.Title = "FrontFormStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.pie.js"></script>

<style type="text/css">
    div.demo-placeholder {
        width: 550px;
        height: 250px;
    }
</style>
<script type="text/javascript">
    var data1 = [];
    var data2 = [];
    var re;

    $(function () {
        $.ajax({
            type: 'Get',
            url: '@Url.Action("PlotData")',
            success: function (result) {
                console.log(result);
                re = result;

                $.plot('#placeholder1', result[0], {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });

                $.plot('#placeholder2', result[1], {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
            }
        });
    });
</script>

<h2>FrontFormStatistics</h2>
<div id="placeholder1" class="demo-placeholder"></div>
<div id="placeholder2" class="demo-placeholder"></div>
