
@{
    ViewBag.Title = "FrontFormStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/flot/jquery.flot.pie.js"></script>

<style type="text/css">
    div.Plot-placeholder {
        width: 550px;
        height: 250px;
    }
</style>
<script type="text/javascript">
    var data1 = [];
    var data2 = [];
    var re;

    $(function () {
        $.ajax({
            type: 'Get',
            url: '@Url.Action("PlotData")',
            success: function (result) {
                console.log(result);
                var canvasHtml = '<hr />';

                for (var i = 0; i < result.length; i++) {
                    var id = 'canvas' + i;
                    canvasHtml += `<div id="${id}" class="Plot-placeholder"></div>`;
                }

                $('#CanvasHolder').append(canvasHtml);

                for (var i = 0; i < result.length; i++) {
                    var id = 'canvas' + i;
                    $.plot(`#${id}`, result[i], {
                        series: {
                            pie: {
                                show: true
                            }
                        }
                    });
                }
            }
        });
    });
</script>

<h2>FrontFormStatistics</h2>
<div id="CanvasHolder">
    <!--圖表放這裡-->
</div>
<hr />
<input type="button" class="btn btn-outline-secondary" name="redirect" value="回上頁" onclick="javascript:window.history.back(-1);return false;" />
