@{
    ViewBag.Title = "Home Page";
}

<!--Script-->
<script>
    $(document).ready(function () {
        // Get All Questions List HTML
        $.ajax({
            type: 'Get',
            url: '@Url.Action("ShowQuestionsTable")',
            success: function (result) {
                console.log(result);
                $('#ListTBody').append(result['ShowFormsHTML']);
                var pageHtml =
                    `<li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    ${result['PagniationHTML']}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>`;

                $("#paginationArea").append(pageHtml);
            }
        });
    });
</script>
<!--Title-->
<div class="jumbotron">
    <h1>問卷系統 - 首頁</h1>
    <p class="lead">歡迎使用動態問卷系統，使用搜尋功能快速找到需要的問卷表單</p>
    <p class="lead">如需後台功能，請先登入管理員帳號</p>
</div>
<hr />
<!--Search Area-->
<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <input class="form-control me-2" type="search" placeholder="搜尋問卷標題" aria-label="Search">
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            開始時間:
            <input class="form-control me-2" type="date">
        </div>
        <div class="col">
            結束時間:
            <input class="form-control me-2" type="date" placeholder="結束時間" aria-label="Search">
        </div>
        <div class="col">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
</div>
<hr />
<!--Form List-->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">問卷名稱</th>
            <th scope="col">狀態</th>
            <th scope="col">開始時間</th>
            <th scope="col">結束時間</th>
            <th scope="col">統計</th>
        </tr>
    </thead>
    <tbody id="ListTBody">
        <!--Put List Here-->
    </tbody>
</table>
<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination" id="paginationArea">
        <!--Put pagination here-->
    </ul>
</nav>



