@model FormSystem.DBModel.FormLayout
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "qTable", Url = Url.Action("NewLayout") }))
{
    <div class="mb-3 row">
        <label for="inputDescribe" class="col-sm-1 col-form-label" style="text-align:right">問題:</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(layout => this.Model.Body, new { @class = "form-control", @id = "inputDescribe" })
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputAns" class="col-sm-1 col-form-label" style="text-align:right">回答:</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(layout => this.Model.Answer, new { @class = "form-control", @id = "inputAns" })
        </div>
        <label class="col-sm-3">(多個答案，請使用" ； "隔開)</label>
    </div>
    <div class="mb-3 row">
        <label for="selectType" class="col-sm-1 col-form-label" style="text-align:right">問題種類:</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(layout => this.Model.QuestionType, (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-select", @id = "selectType" })
        </div>
        <div class="form-check col-sm-2">
            @Html.CheckBoxFor(layout => this.Model.NeedAns, new { @class = "form-check-input", @type = "checkbox", @id = "checkNullable" })
            <label class="form-check-label" for="checkNullable">
                必填
            </label>
        </div>
        <div class="col-sm-3">
            <input class="btn btn-outline-primary" type="submit" value="加入" id="btnSubmit">
            <input class="btn btn-outline-danger" type="button" value="清空" id="btnClean">
        </div>
        <div class="col-sm-4"></div>
    </div>
}
<hr />
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "qTable", Url = Url.Action("DeleteLayout") }))
{
    <button class="btn btn-outline-danger" type="submit" >刪除</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-1">#</th>
                <th scope="col">問題</th>
                <th scope="col" class="col-2">種類</th>
                <th scope="col" class="col-1">必填</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody id="qTable">
            <!--問題列表-->
        </tbody>
    </table>
}
